<div class="modal-content pictureDetail">
    <div class="modal-header">
        <h3>Create New Manuscript</h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="newManuscriptTitle">Title</label>
                <input type="email" id="newManuscriptTitle" class="form-control" placeholder="Enter Title" data-bind="value: newTitle">
            </div>
            <div class="form-group">
                <label for="newManuscriptDescription">Description</label>
                <input type="email" class="form-control" id="newManuscriptDescription" placeholder="Enter Description" data-bind="value: newDescription">
            </div>
            <!--<button  class="btn btn-primary">Create</button>-->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
        <button type="button" class="btn btn-primary" data-bind="click: createManuscript">Save changes</button>
    </div>
</div>
