    <div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="fa fa-file-text-o"></i> Your Manuscripts</div>
            <div class="panel-body">
                <div data-bind="foreach: manuscripts">

                    <p data-bind="text: Title"></p>
                </div>

                <button class="btn btn-primary btn-xs" data-bind="click: createManuscript">New Manuscript</button>
            </div>

        </div>



        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="fa fa-lightbulb-o"></i> Ideas</div>
            <div class="panel-body">


                <button class="btn btn-primary btn-xs" data-bind="click: createManuscript">Quick Idea</button>
            </div>

        </div>




        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="fa fa-file"></i> Latest Research</div>
            <div class="panel-body">


                <button class="btn btn-primary btn-xs" data-bind="click: createManuscript">Quick Idea</button>
            </div>

        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="fa fa-bar-chart"></i> Your Statistics</div>
            <div class="panel-body">
                <p>In the last week:</p>
                <ul>
                    <li>180 words</li>
                    <li>3 new ideas</li>
                </ul>

            </div>
        </div>



        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="fa fa-bars"></i> Your Actions</div>
            <div class="panel-body">

                <div><strong>8.3.2014</strong> - Created new Manuscript</div>
                <div><strong>8.3.2014</strong> - Worked on "Two Cathedrals"</div>
            </div>

        </div>
    </div>
</div>